<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<link rel="icon" href="{{ "{}{}".format(site.baseurl, "favicon.png") }}">
		<title>{% block title %}{{ site.title }}{% endblock %}</title>
		<style>
			a {
				text-decoration: none;
			}
		</style>
		{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>